
<html>
	<head>
		<% include ../partials/head %>
		<link rel="stylesheet" type="text/css" href="/css/jquery-ui.min.css">

		<script src="/scripts/jquery-ui.min.js"></script>
	</head>
	
	<style>
		#body{
			background-image: url("/img/chao.jpg");
			background-size: 100% 100%;
			background-repeat: no-repeat;
		}
		#needs_login{
			
			padding: 0;
			margin: 0;
			position: relative;
			display: none;
			width: 100%;
			height: 100%;


		}
		#needs_login #enter_garden_button{
			position: absolute;
			left: 40%;
			top: 40%;
			opacity: .7;
			width: 20vw;
			height: 20vh;
			font-size: 150%;
			animation: fontcycle 2s infinite;
			z-index: 1;
		}
		#needs_login #right_bg{
			display: inline-block;
			position: relative;
			float: right;
			padding-left: : 0;
			padding-right: 0;
			margin-left: : 0;
			margin-right: : 0;
			right: 0%;
			width: 50%;
			height: 100%;
			animation: dooropenright 5s;
			animation-play-state: paused;
		}
		#needs_login #left_bg{
			display: inline-block;
			position: relative;
			padding-left: : 0;
			padding-right: 0;
			margin-left: : 0;
			margin-right: : 0;
			width: 50%;
			height: 100%;
			left: 0;
			animation: dooropenleft 5s;
			animation-play-state: paused;
		}

		@keyframes fontcycle{
			0%,100% {
				font-size: 150%;
			}
			50%{
				font-size: 200%;
			}
		}
		@keyframes dooropenleft {
			0% {
				width: 50%;
				left:0;
			}
			100% {
				width: 0%;
			}
		}
		@keyframes dooropenright {
			0% {
				width: 50%;
				
			}
			100% {
				width: 0%;
			}
		}


		#logout{
			display: inline-block;
			position: absolute;
			right: 10%;
			top: 10%;
		}



		#garden .ui-item{
			padding-left: 10px;
			padding-right: 10px;
			border-radius: 10px;
			border-color: black;
			border-style: solid;
			border-width: 1px;
			background-color: white;
			opacity: .7;
			display: flex;
			flex-direction: column;
			float: left;
			
		}
		#garden #forms{
			font-size: 100%;
		}


	</style>
	<body id="body">
		<div id='needs_login'>

			<button id="enter_garden_button" class="button raised">Enter Garden</button>
			<img id="left_bg" src='/img/chao_left_door.png'></img><img id="right_bg" src='/img/chao_right_door.png'></img>
		
		</div>
		<div id='garden'>
			<div id='stats' class='ui-item draggable'>
				<p>Username: <span id="username_span">null<span></p>
				<p>Points: <span id="point_span">null<span></p>
			</div>
			<div id="forms">
				Name (7 letters): <input id = "name"><br>
				Type (0 to 25): <input id = "type"><br>
				Dark / Hero (-9 to 9): <input id="dark_hero"><br>
				Run / Power (-9 to 9): <input id="run_power"><br>
				Swim / Fly (-9 to 9): <input id="swim_fly"><br>
				Magnitude (0 to 10): <input id="magnitude"><br>
				Swim grade (0 to 5): <input id="swim_grade"><br>
				Swim points (0 to 999): <input id="swim_points"><br>
				Swim level (0 to 99): <input id="swim_level"><br>

				Fly grade (0 to 5): <input id="fly_grade"><br>
				Fly points (0 to 999): <input id="fly_points"><br>
				Fly level (0 to 99): <input id="fly_level"><br>

				Run grade (0 to 5): <input id="run_grade"><br>
				Run points (0 to 999): <input id="run_points"><br>
				Run level (0 to 99): <input id="run_level"><br>

				Power grade (0 to 5): <input id="power_grade"><br>
				Power points (0 to 999): <input id="power_points"><br>
				Power level (0 to 99): <input id="power_level"><br>

				Stamina grade (0 to 5): <input id="stamina_grade"><br>
				Stamina points (0 to 999): <input id="stamina_points"><br>
				Stamina level (0 to 99): <input id="stamina_level"><br>

				Base color (0 to 40): <input id="base_color"><br>
				Texture (0 to 109): <input id="texture"><br>
				Two Tone (True / False): <input id="two_tone"><br>
				Shiny (True / False): <input id="shiny"><br>

				Body Type (0 to 4): <input id="body_type"><br>
				Animal Body (0 to 20): <input id="animal_body"><br>

				Face (0 to 3): <input id="face"><br>
				Eyes (0 to 12): <input id="eyes"><br>
				Mouth (0 to 12): <input id="mouth"><br>
				Ears (0 to 12): <input id="ears"><br>
				Forehead (0 to 7): <input id="forehead"><br>
				Horns (0 to 3): <input id="horns"><br>
				Hat (0 to 15): <input id="hat"><br>

				Arms (0 to 14): <input id="arms"><br>
				Legs (0 to 17): <input id="legs"><br>
				Feet (True / False): <input id="feet"><br>
				Tail (0 to 15): <input id="tail"><br>
				Wings (0 to 6): <input id="wings"><br>
			</div>

			<button id="send_to_battle">Battle!</button>
		
		</div>

		<div id='logout_div'>

			<button id="logout" class="button raised">Logout</button>
		</div>

	</body>
	<script>
	$(document).ready(function(){
		$(function(){
			$('.draggable').draggable();
		})
		var user_code = getUrlVar("code");
		var logged_in = <%-logged_in %>;
		var user;
		var points;
		var url = 'https://api.twitch.tv/kraken/oauth2/authorize?response_type=code';
		url += '&client_id=' + '<%-client_id %>';
		url += '&redirect_uri=<%-redirect%>';
		url += '&scope=';
		url += '&state=lol';
		$('#tester').click(function(){
			test();
		})
		$('#send_to_battle').click(function(){
			var name = $('#name').val();
			var type = $('#type').val();
			var dark_hero = $('#dark_hero').val();
			var run_power = $('#run_power').val();
			var swim_fly = $('#swim_fly').val();
			var magnitude = $('#magnitude').val();
			var swim_grade = $('#swim_grade').val();
			var swim_points = $('#swim_points').val();
			var swim_level = $('#swim_level').val();
			var fly_grade = $('#fly_grade').val();
			var fly_points = $('#fly_points').val();
			var fly_level = $('#fly_level').val();
			var run_grade = $('#run_grade').val();
			var run_points = $('#run_points').val();
			var run_level = $('#run_level').val();
			var power_grade = $('#power_grade').val();
			var power_points = $('#power_points').val();
			var power_level = $('#power_level').val();
			var stamina_grade = $('#stamina_grade').val();
			var stamina_points = $('#stamina_points').val();
			var stamina_level = $('#stamina_level').val();
			var base_color = $('#base_color').val();
			var texture = $('#texture').val();
			var two_tone = $('#two_tone').val();
			var shiny = $('#shiny').val();
			var body_type = $('#body_type').val();
			var animal_body = $('#animal_body').val();
			var eyes = $('#eyes').val();
			var mouth = $('#mouth').val();
			var feet = $('#feet').val();
			var arms = $('#arms').val();
			var ears = $('#ears').val();
			var forehead = $('#forehead').val();
			var horns = $('#horns').val();
			var legs = $('#legs').val();
			var tail = $('#tail').val();
			var wings = $('#wings').val();
			var face = $('#face').val();
			var hat = $('#hat').val();
			var chao_stats = {name: name, type: type, dark_hero: dark_hero, run_power: run_power, swim_fly: swim_fly, magnitude: magnitude, swim_grade: swim_grade, swim_points: swim_points, swim_level: swim_level, fly_grade: fly_grade, fly_points: fly_points, fly_level: fly_level, run_grade: run_grade, power_grade:power_grade, power_points: power_points, power_level: power_level, stamina_grade: stamina_grade, stamina_points: stamina_points, stamina_level: stamina_level,
				base_color: base_color, texture: texture, two_tone: two_tone, shiny: shiny, body_type: body_type, animal_body: animal_body, eyes: eyes, mouth: mouth, feet: feet, arms: arms, ears: ears, forehead: forehead, horns: horns, legs: legs, tail: tail, wings: wings, face: face, hat: hat};
			$.ajax({
				type: "POST",
				url: "../stream/garden/request/add_battle_chao",
				data: chao_stats,

				success: function(msg){

					if (msg.success == "false"){
						alert("Battle already full");
					}
					else{
						alert("Ready for battle");
					}
				}
			});

		});
		if (logged_in == false){
			$('#needs_login').show();
			if (user_code == false){
				$('#enter_garden_button').text('Authenticate with Twitch');
			}
		}
		else{
			points = <%-points%>;
			user = "<%-user%>";

			$('#point_span').text(""+points);
			$('#username_span').text(""+user);
		}

		$('#logout').click(function(){
			$.ajax({
				type: "GET",
				url: "../stream/garden/request/logout",
	

				success: function(msg){
					window.location.href="<%-redirect%>";
				}
			});
		})
		$('#enter_garden_button').click(function(){

			setup_garden();
		})



		function setup_garden(){
			//$('body').append("https://api.twitch.tv/kraken?oauth_token="+user_code);
			if (user_code == false){
				var url = 'https://api.twitch.tv/kraken/oauth2/authorize?response_type=code';
				url += '&client_id=' + '<%-client_id %>';
				url += '&redirect_uri=<%-redirect%>';
				url += '&scope=';
				url += '&state=lol';
				window.location=url;

			}
			else{
			
				$.ajax({
					type: "POST",
					url: "../stream/garden/auth",
					data: {code: user_code},

					success: function(msg){

						if (msg.success == "false"){

						}
						else{
							user = msg.user;
							points = msg.points;
							$('#point_span').text(""+points);
							$('#username_span').text(""+user);
							$('#left_bg').css('animation-play-state', 'running');
							$('#right_bg').css('animation-play-state', 'running');
							setTimeout(function(){
								$('#needs_login').hide();
							}, 4500);
						}
					}
				});
			}
			//al
		}
		function getUrlVar(variable){
			var query = window.location.search.substring(1);
			var vars = query.split("&");
			for (var i = 0;i<vars.length;i++){
				var pair = vars[i].split("=");
				if(pair[0]== variable){return pair[1];}

			}
			return false;
		}
		function getCookie(cookie){
			var name = cookie + "=";
			var ca = document.cookie.split(';');
			for (var i = 0; i<ca.length;i++){
				var c = ca[i];
				while (c.charAt(0) == ' '){
					c = c.substring(1);
				}
				if (c.indexOf(name) == 0){
					return c.substring(name.length, c.length)
				}
			}
			return "";
		}
		
	});
	</script>
</html>