<html>
	<head>
		<script  src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" href="/css/slider.css">

	</head>
	<style>
		.input-new-item{
			width: 500px;
		}
		.red{
			background-color: red;
		}
		.green{
			background-color: green;
		}
		.title{
			font-size: 125%;

		}
		.text{
			font-size: 75%;

		}
		.list_buttons{
			padding-bottom: 10px;
			padding-top: 10px;
		}
		.list_content{
			padding-left: 20px;
			position: absolute;
			top: 15px;
		}
		.page_content{
			padding-left: 30px;
			padding-top: 50px;
			padding-right: 50px;
			padding-top: 120px;
		}
		.user_checkbox{
			padding-left: 10px;
			padding-right: 10px;
			font-size: 150%;
			display: inline-block;
		}
		.filters{
			position: fixed;
			z-index: 1;
			background-color: white;
		}
		.comment_button{
			width: 30px;
			height: 30px;
			border-radius: 50%;
			border: 2px solid;
			
		}
		.comment {
			display: none;
		}
		.individual-comment{
			padding-top: 10px;
			padding-bottom: 10px;
		}
		.comment-email{
			font-size: 150%;
		}
		.comment-text{
			padding-left: 20px;
			
		}
		.comment-input{
			padding-top: 20px;
			
		}
	</style>
	<div class="filters">
		<% for(var i=0; i<json.access.length; i++) {

			%>
			<div class="user_checkbox">
				<%= json.access[i] %>
				<div class="slideTwo">
					<input type="checkbox" onclick=clickRadio(this) name="check" id="<%= json.access[i] %>" value=<%= json.access[i]  %>>
					<label for="<%= json.access[i] %>"></label>
				</div>
				
			</div>
			 <% } %>
	 	<br><br>
	</div>
	<div class="page_content">

		<% for(var i=0; i<json.content.length; i++) {
		var checklist = [];
		var checked = false;
		var title = json.content[i].title
		if (json.content[i].checked.indexOf(email) >= 0){
			checked = true;
		}
		checklist.push(JSON.stringify(json.content[i].checked))
		%>
		<ul class="list-group">

			 <li class="content list-group-item" check_list= <%= checklist %>  title="<%=json.content[i].checked %>" >
			 <!-- <li class="content list-group-item" check_list= <%= checklist %>   data-toggle="tooltip" data-placement="bottom" title="<%=json.content[i].checked %>" > -->
			 	<div style="display: inline-block;" class="list_buttons">

				  	<% if (checked == false){ %>
					    <button class="btn btn-default green" onclick=approve("<%- encodeURIComponent(json.content[i].title)%>")>Approve</button>
					<% } else { %>
				  		<button class="btn btn-default red" onclick=decline("<%- encodeURIComponent(json.content[i].title)%>")>Decline</button>
				  	<% } %>
				    <button class="btn btn-default" onclick=remove("<%-encodeURIComponent(json.content[i].title)%>")>Remove</button>
				    <button class="comment_button" onclick=toggleComment(this)>▼</button>
			    </div>
			 	<div style="display: inline-block;" class="list_content">
			 		<div class="title">
			 			<%=json.content[i].title %> <br>
			 		</div>
			 		<div class="text">
			 			<%=json.content[i].text %>
			 		</div>
			 	</div>
			 	<div class="comment">
			 		<div class="comment-list">
				 		<% if (json.content[i].comments){ for (var j = 0; j<json.content[i].comments.length;j++) { %>
				 			<div class="individual-comment">
				 				<div class="comment-email">
				 					<%= json.content[i].comments[j].email %>
				 				</div>
				 				<div class="comment-text">
				 					<%- json.content[i].comments[j].comment %>
				 				</div>
				 			</div>
				 		<% } } %>
			 		</div>
			 		<div class="comment-input">
			 			<input type="text" class="form-control comment-form" id="text" placeholder="Comment" />
						<button id="post_comment" class="btn btn-default" onclick=comment(this,"<%-encodeURIComponent(json.content[i].title)%>") >Post</button>
			 		</div>
			 	</div>


			 </li>
		 </ul>
		<% } %>
		<div class="input-new-item">
			<input type="text" class="form-control" id="text" placeholder="Comment"/>
			<button id="create" class="btn btn-default">Create</button>
		</div>
	</div>
	<script>
		var filter_list = [];
		var list;
		$(document).ready(function(){
			$(function () {
				$('[data-toggle="tooltip"]').tooltip()
			})

			list = "<%= list %>"
			
			$('#create').click(function(){
				$.ajax({
					type: "POST",
					url: "/lists/request/add",
					data: {title: $('#title').val(), text: $('#text').val(), list: list},
					success: function(msg){
						request = msg['request'];
						if (request == "success"){
							//$('#list').append($('<li id="list:'+$('#title').val()+'"><span class="item-text">'+$('#title').val()+'</span>'));
							//$('#title').val('')
							location.reload();
						}
						else{
							alert(msg['error']);
						}
					}
				});
			});

		});
		function toggleComment(clickedItem){
			var commentSection = $(clickedItem.parentNode.parentNode.getElementsByClassName("comment")[0])
			if (commentSection.is(":visible")){

				$(clickedItem.parentNode.parentNode.getElementsByClassName("comment")[0]).hide();
			}
			else{

				$(clickedItem.parentNode.parentNode.getElementsByClassName("comment")[0]).show();
			}
		}

		function clickRadio(user){
			username=user.getAttribute("value");
			
			if (user.checked == false){
				var index = filter_list.indexOf(username);
				if (index > -1){
					filter_list.splice(index,1);
				}

			}
			else{
				filter_list.push(username);
			}
			

			$(".content").each(function() {
				var checked = JSON.parse(($( this ).attr('check_list')));


				$(this).show();
				for (var filter = 0; filter<filter_list.length; filter++ ){
					
					if (checked.indexOf(filter_list[filter]) < 0){
						$(this).hide();
						break;
					}
				}
			});
		}
		function comment(button, title){
			
			var comment = $(button.parentNode.getElementsByClassName("comment-form")[0]).val();
			var commentsList = $(button.parentNode.parentNode.getElementsByClassName("comment-list")[0]);
			
			title = decodeURIComponent(title);
			$.ajax({
				type: "POST",
				url: "/lists/request/comment",
				data: {title: title, list: list, comment: comment},
				success: function(msg){
					request = msg['request'];
					if (request == "success"){
						//$('#list').append($('<li id="list:'+$('#title').val()+'"><span class="item-text">'+$('#title').val()+'</span>'));
						//$('#title').val('')
						commentsList.append(
							'<div class="individual-comment"><div class="comment-email"><%- email %></div><div class="comment-text">'+comment+'</div></div>'
						);
					}
					else{
						alert(msg['error']);
					}
				}
			});
		}

		function approve(title){
			title = decodeURIComponent(title);
			$.ajax({
				type: "POST",
				url: "/lists/request/approve",
				data: {title: title, list: list},
				success: function(msg){
					request = msg['request'];
					if (request == "success"){
						//$('#list').append($('<li id="list:'+$('#title').val()+'"><span class="item-text">'+$('#title').val()+'</span>'));
						//$('#title').val('')
						location.reload();
					}
					else{
						alert(msg['error']);
					}
				}
			});
		}
		

		function decline(title){
			title = decodeURIComponent(title);
			$.ajax({
				type: "POST",
				url: "/lists/request/decline",
				data: {title: title, list: list},
				success: function(msg){
					request = msg['request'];
					if (request == "success"){
						//$('#list').append($('<li id="list:'+$('#title').val()+'"><span class="item-text">'+$('#title').val()+'</span>'));
						//$('#title').val('')
						location.reload();
					}
					else{
						alert(msg['error']);
					}
				}
			});
		}

		function remove(title){
			title = decodeURIComponent(title);
			$.ajax({
				type: "POST",
				url: "/lists/request/remove",
				data: {title: title, list: list},
				success: function(msg){
					request = msg['request'];
					if (request == "success"){
						//$('#list').append($('<li id="list:'+$('#title').val()+'"><span class="item-text">'+$('#title').val()+'</span>'));
						//$('#title').val('')
						location.reload();
					}
					else{
						alert(msg['error']);
					}
				}
			});
		}
	</script>
</html>